/* Core CSS Styles for
 * Oedipus Decision Maker
 * Saul Howard, CLWD, 2008
 */
body
{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;

}
a:visited
{
	color: blue;
}
#header
{
	height: 70px;
	background-color:#ECF2FA;
	border-bottom:1px solid #6797D3;
}
#header h1
{
	height: 70px;
	width: 220px;
	background: transparent url(/images/oedipus-logo-with-head.png) top left no-repeat;
	text-indent: -3000px;
}

/*CONTENT*/
#content
{
	padding: 0.5em 1em;

}
#content h2
{
	text-align: center;
	font-size: 1.4em;
	font-weight: 900;
}
#content h2 span
{
	color: red;
}
#content p
{
	margin: 1em 0;
}
#content ul.links
{
	margin: 1em;
}
#content ul.links li
{
	margin: 0.2em 0;
	list-style: disc url(/images/bullet_blue.png) inside;
}

#navigation
{
	position: absolute;
	top: 40px;
	left: 220px;
}
#navigation ul.navigation li
{
	display: inline;
	padding: 0 0.5em;
}

/* Table Editor Page */
div.table-editor
{

}
/* Table Editor Form */
div.table-editor-forms
{
	float: left;
	width: 50%;
	margin: 0 auto;
}
