/* Core CSS Styles for
 * Oedipus Decision Maker
 * Saul Howard, CLWD, 2008
 */
body
{
	/*        font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;*/
	font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;

	color: #333;
}
a
{
	color:#448ABD;
	font-weight: bold;
}
a:visited
{
	color:#448ABD;
}
a:hover
{
	color: #d54e21
}
#header
{
	height: 70px;
	background-color:#ECF2FA;
	border-bottom:1px solid #C6D9E9;
}
#header h1
{
	height: 70px;
	width: 220px;
	background: transparent url(/images/oedipus-logo-with-head.png) top left no-repeat;
	text-indent: -3000px;
}

/*CONTENT*/
#content
{
	padding: 0.5em 1em;

}
#content h2
{
	font-family:Georgia,"Times New Roman",Times,serif;
	text-align: center;
	font-size: 1.6em;
/*        font-weight: 900;*/
	color: #333;
	margin: 0.5em 0 1em 0;
}
#content h2 span
{
	color: #E9292E;
/*        font-style: italic;*/
}
#content p
{
	margin: 1em 0;
}
#content div.external-links ul
{
	margin: 1em 0 2em 1em;
}
#content div.external-links ul li
{
	margin: 0.2em 0;
	list-style: disc url(/images/bullet_blue.png) inside;
}
#content div.welcome em
{
	font-weight: bold;
}

#content hr
{
	border: 0;
	margin:1em 4em 2em 4em;
	color: #C6D9E9;
	background-color: #C6D9E9;
	background-color: #ECF2FA;

	height: 5px;
}

/*
 * Left and Right Columns
 */
div.left-column
{
	float: left;
	width: 50%;
	min-width: 500px;
}
div.right-column
{
	float: right;
	width: 50%;
}
div.clear-columns
{
	clear: both;
	height: 1em;
}

/*
 * Navigation 
 */
#navigation
{
	position: absolute;
	top: 38px;
	left: 220px;
}


/* Table Editor Page */
div.table-editor
{

}
div.table-editor-instructions
{
/*        float: left;*/
}
/* Table Editor Form */
div.table-editor-forms
{
	float: left;
	width: 50%;
	margin: 0 auto;
}


/*
* Footer
 */
div#footer
{
	clear: both;
	margin: 2em 0 2em 0;
}
div#footer p
{
	text-align: right;
	margin: 0 1em;
}

/*
 * Notes Div in Right Column
 */
div.notes
{
/*        background: #ECF2FA url(/images/icons/32x32/note.png) 98% 10px no-repeat;*/
	background: #ECF2FA;
	border: 1px solid #C6D9E9;
	padding: 1em 1em 2em 1em;
	margin-right: 2em;
}
div.notes pre 
{
/*        overflow: scroll;*/
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.notes h3
{
	font-family:Georgia,"Times New Roman",Times,serif;
	text-align: center;
	font-size: 1.3em;
	margin: 0 0 1em 0;
}
div.notes label
{
	display: none;
}
div.notes textarea#note_text
{
	font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
	width: 100%;
	height: 20em;
	line-height:1em;
}
div.notes div.submit_buttons_div
{
	text-align: right;
}
