/* Forms CSS Stylesheet
 * Saul Howard, CLWD, 2008
 */

/* 
 * Oedipus FORMS CSS
 * clearlinewebdesign.com 2008
 */
form 
{
/*        padding: 0.7em 0;*/

	clear: both;
}
form legend
{
	text-decoration: italic;
	text-transform: uppercase;
	font-weight: 900;
	border-bottom: 1px solid black;
	margin: 0 0 0.2em 0;
}
form ol
{
/*        float: left;*/
/*        border: 1px solid black;*/
	width: 20em;
}
form ol li label
{
display:inline-block;
float:left;
margin-right:0.5em;
text-align:right;
vertical-align:top;
width:7em;
}

div.submit_buttons_div
{
/*        float: right;*/
	margin: -2em 0 0 17em;
/*        width: 10em;*/
	padding: 0.5em 0 0 0;
}

div.table-editor,
div.actor-editor,
div.option-editor,
div.table-editor-actions,
div.actor-editor-actions,
div.option-editor-actions
{
/*        width: 10em;*/
	clear:both;
	width: 80%;
}

div.table-editor
{
	padding: 0 0 0.5em 0;
}
div.actor-editor
{
	padding: 0.5em 0 0.5em 2em;
}
div.option-editor
{
	padding: 0.5em 0 0.5em 4em;
}
div.table-editor-actions
{
	padding: 0 0 0.5em 0;
}
div.actor-editor-actions
{
	padding: 0 0 0.5em 2em;
}
div.option-editor-actions
{
	padding: 0 0 0.5em 4em;
}


div.table-editor ul
{
	display: inline;
}
#blue.actor-editor,
#blue.option-editor,
#blue.actor-editor-actions,
#blue.option-editor-actions
{
	background-color: #8080FF; /* BLUE -50% SAT. */
}
#red.actor-editor,
#red.option-editor,
#red.actor-editor-actions,
#red.option-editor-actions
{
	background-color: #FF8080; /* RED -50% SAT. */
}
#green.actor-editor,
#green.option-editor,
#green.actor-editor-actions,
#green.option-editor-actions
{
	background-color: #80FF80; /* GREEN -50% SAT. */
}
#orange.actor-editor,
#orange.option-editor,
#orange.actor-editor-actions,
#orange.option-editor-actions
{
	background-color: #FFE480; /* ORANGE -50% SAT. */
}


