/* List CSS Styles for
 * Oedipus Decision Maker
 * Saul Howard, CLWD, 2008
 */

/*
 * Navigation 
 * Main Nav UL
 */
#navigation
{
/*        background-color:#E4F2FD;*/
	border-bottom-color:#C6D9E9;
	border-bottom-style:solid;
	border-bottom-width:1px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding-left:11px;
}
#navigation ul.navigation li
{
	display: inline;
	padding: 0 0.5em;

	line-height:200%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
	text-align:center;
	white-space:nowrap;
}
#navigation a 
{
	color:#2583AD;
	line-height:30px;
	padding:5px 7px;
	text-decoration: none;
}
/*div#navigation a.current*/
div#navigation a
{
	background-color:#FFFFFF;
	border-color:#C6D9E9 rgb(198, 217, 233) rgb(255, 255, 255);
	color:#D54E21;
	padding-left:6px;
	padding-right:6px;

	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	-moz-border-radius-topleft: 4px;
	-khtml-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-khtml-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 2px;
}


/*
 * UL At the top of pages
 */
ul.page-actions
{
	margin: 0.2em 0 0 0;
	width: 100%;
}
ul.page-actions li
{
	display: inline;
	height: 30px;
	margin: 0 1em 0 0;
}
ul.page-actions li a
{
	font-weight: normal;
	font-size:1em;
	text-decoration: none;
	background-color: #FFFF99;
	padding: 0 0 3px 30px;
	height: 30px;
}
ul.page-actions li a:hover
{
	text-decoration: underline;
}
ul.page-actions li#back-to-drama a
{
	color: #03C000;
	background: transparent url(/images/icons/24x24/document-save.png) top left no-repeat;
}
ul.page-actions li#edit-drama a
{
	color: #E9292E;
	background: transparent url(/images/icons/24x24/document-open.png) top left no-repeat;
}
ul.page-actions li#view-drama a
{
	color: #2D36C2;
	background: transparent url(/images/icons/24x24/drama.png) top left no-repeat;
}
ul.page-actions li#share-drama a
{
	color: #2D36C2;
	background: transparent url(/images/icons/24x24/share-icon.png) top left no-repeat;
}


/*
 * my Dramas UL
 */
div.my-dramas-list
{

	background-color:#faebf9;
	border-top:1px solid #fa98c3;
	border-bottom:1px solid #fa98c3;
	margin: 2em auto;
	padding: 2em 0;
}

ul.my-dramas
{
	text-align: center;

}
ul.my-dramas li
{
	display: inline-block;

	padding: 0 1em;
}
ul.my-dramas li a
{
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 900;

	padding: 10px;
	display: inline-block;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-width: 1px;
	border-style: solid;

	border-color:#faebf9;
}
ul.my-dramas li a:hover
{
	background-color:#FFFFFF;
	border-color:#fa98c3;
}
ul.my-dramas li a span
{

	text-align: left;
	display: block;
	padding: 0 0 0.2em 0;
}
ul.my-dramas li a span#added
{
	font-size: 0.7em;
	font-weight: 300;
	color: #333;
}

/*
 * Table Thumbnail List
 */

div.table_thumbnail_list
{
	background-color:#faebf9;
	border-top:1px solid #fa98c3;
	border-bottom:1px solid #fa98c3;
}
div.table_thumbnail_list h3
{
/*        font-family:Georgia,"Times New Roman",Times,serif;*/
	text-align: left;
/*        font-weight: 900;*/
	font-size: 1.1em;
	padding: 1em 0 0 1em;
}
div.table_thumbnail_list ul
{
	margin: 0 auto;
	text-align: center;
}
div.table_thumbnail_list ul li
{
	margin: 10px;
	display: inline-block;
	vertical-align: middle;
}
div.table_thumbnail_list a
{
	padding: 10px;
	display: inline-block;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-width: 1px;
	border-style: solid;

	border-color:#faebf9;
}
div.table_thumbnail_list a:hover
{
	background-color:#FFFFFF;
	border-color:#fa98c3;
	font-weight: normal;
}

/*
 * Footer List
 */

div#footer ul
{
	margin: 1em auto;
	text-align: center;
}
div#footer ul li
{
	padding: 0 20px;
	display: inline;
}

/*
 * Table Options
 */

div.oedipus-table ul.table-options
{
	margin: 1em 0 0 0;
}
div.oedipus-table ul.table-options li
{
	padding: 0.2em 0;
}
div.oedipus-table ul.table-options li a
{
	font-weight: normal;
	font-size:1em;
	text-decoration: none;
	padding: 0 0 3px 24px;
	height: 16px;
}
div.oedipus-table ul.table-options li a:hover
{
	text-decoration: underline;
}
div.oedipus-table ul.table-options li#png-image-table a
{
	color: #2D36C2;
	background: transparent url(/images/icons/16x16/image.png) top left no-repeat;
}
div.oedipus-table ul.table-options li#edit-table a
{
	color: #E9292E;
	background: transparent url(/images/icons/16x16/document-open.png) top left no-repeat;
}
