/* Styles for the Oedipus Drama Theory Table
 * Saul Howard 2008, CLWD
 */

div.oedipus-frame
{
	padding: 0.5em 1em 1em 1em;
	margin: 0 2em;
/*        width: 100%;*/
	background: #FFFF99;
}
div.table-editor div.oedipus-frame
{
/*        float: left;*/
}

table.oedipus
{
	font: italic 1em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
}

table.oedipus caption {
	padding: 0 0 1em 0;
	text-align: left;
}

table.oedipus th {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
}
table.oedipus thead th
{
	border-left: 0;
	text-align: center;
	font-weight: 900;
}
table.oedipus th.blank
{
	border: 0;
}
table.oedipus td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

/* COLUMNS FOR ACTORS, STATED INTENTIONS */
table.oedipus colgroup.options-column
{
/*        background: grey;*/
}
table.oedipus colgroup.character-column
{
/*        background: cyan;*/
}
table.oedipus #blue.character-column
{
	background-color: #8080FF; /* BLUE -50% SAT. */
}
table.oedipus #red.character-column
{
	background-color: #FF8080; /* RED -50% SAT. */
}
table.oedipus #green.character-column
{
	background-color: #80FF80; /* GREEN -50% SAT. */
}
table.oedipus #orange.character-column
{
	background-color: #FFE480; /* ORANGE -50% SAT. */
}

table.oedipus .si-column
{
	background-color: #CAE8EA;
}

table.oedipus th.option em
{
/*        font-weight: 900;*/
	color: black;
}
table.oedipus td.option, table.oedipus th.option
{
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
	color: #4f6b72;
}

table.oedipus #red.option, table.oedipus #red.option
{
	border-left: 10px solid red;
}

table.oedipus #blue.option, table.oedipus #blue.option
{
	border-left: 10px solid blue;
}

table.oedipus #green.option, table.oedipus #green.option
{
	border-left: 10px solid #00FF00;
}

table.oedipus #orange.option, table.oedipus #orange.option
{
	border-left: 10px solid #FFC800;
}

/* ICONS FOR POSITION AND SI TILES */
table.oedipus a.position-tile,
table.oedipus a.si-tile
{
	height: 50px;
	width: 50px;
	display: block;
	text-indent: -3000px;
	margin: 0 auto;
	background: transparent url('/images/position-tiles/40px-png/squares/blue_filled.png') center center no-repeat;
}

/*POSITION TILES*/
/* BLUE */
table.oedipus a.position-tile#blue1x
{
	background-image: url('/images/position-tiles/40px-png/squares/blue_filled_x.png');
}
table.oedipus a.position-tile#blue1q
{
	background-image: url('/images/position-tiles/40px-png/squares/blue_filled_question.png');
}
table.oedipus a.position-tile#blue1
{
	background-image: url('/images/position-tiles/40px-png/squares/blue_filled.png');
}
table.oedipus a.position-tile#blue0x
{
	background-image: url('/images/position-tiles/40px-png/squares/blue_empty_x.png');
}
table.oedipus a.position-tile#blue0q
{
	background-image: url('/images/position-tiles/40px-png/squares/blue_empty_question.png');
}
table.oedipus a.position-tile#blue0
{
	background-image: url('/images/position-tiles/40px-png/squares/blue_empty.png');
}
/* RED */
table.oedipus a.position-tile#red1x
{
	background-image: url('/images/position-tiles/40px-png/squares/red_filled_x.png');
}
table.oedipus a.position-tile#red1q
{
	background-image: url('/images/position-tiles/40px-png/squares/red_filled_question.png');
}
table.oedipus a.position-tile#red1
{
	background-image: url('/images/position-tiles/40px-png/squares/red_filled.png');
}
table.oedipus a.position-tile#red0x
{
	background-image: url('/images/position-tiles/40px-png/squares/red_empty_x.png');
}
table.oedipus a.position-tile#red0q
{
	background-image: url('/images/position-tiles/40px-png/squares/red_empty_question.png');
}
table.oedipus a.position-tile#red0
{
	background-image: url('/images/position-tiles/40px-png/squares/red_empty.png');
}
/* green */
table.oedipus a.position-tile#green1x
{
	background-image: url('/images/position-tiles/40px-png/squares/green_filled_x.png');
}
table.oedipus a.position-tile#green1q
{
	background-image: url('/images/position-tiles/40px-png/squares/green_filled_question.png');
}
table.oedipus a.position-tile#green1
{
	background-image: url('/images/position-tiles/40px-png/squares/green_filled.png');
}
table.oedipus a.position-tile#green0x
{
	background-image: url('/images/position-tiles/40px-png/squares/green_empty_x.png');
}
table.oedipus a.position-tile#green0q
{
	background-image: url('/images/position-tiles/40px-png/squares/green_empty_question.png');
}
table.oedipus a.position-tile#green0
{
	background-image: url('/images/position-tiles/40px-png/squares/green_empty.png');
}
/* orange */
table.oedipus a.position-tile#orange1x
{
	background-image: url('/images/position-tiles/40px-png/squares/orange_filled_x.png');
}
table.oedipus a.position-tile#orange1q
{
	background-image: url('/images/position-tiles/40px-png/squares/orange_filled_question.png');
}
table.oedipus a.position-tile#orange1
{
	background-image: url('/images/position-tiles/40px-png/squares/orange_filled.png');
}
table.oedipus a.position-tile#orange0x
{
	background-image: url('/images/position-tiles/40px-png/squares/orange_empty_x.png');
}
table.oedipus a.position-tile#orange0q
{
	background-image: url('/images/position-tiles/40px-png/squares/orange_empty_question.png');
}
table.oedipus a.position-tile#orange0
{
	background-image: url('/images/position-tiles/40px-png/squares/orange_empty.png');
}

/*SI TILES*/
table.oedipus a.si-tile#blue1x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/blue_filled_x.png');
}
table.oedipus a.si-tile#blue1q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/blue_filled_question.png');
}
table.oedipus a.si-tile#blue1
{
	background-image: url('/images/position-tiles/40px-png/diamonds/blue_filled.png');
}
table.oedipus a.si-tile#blue0x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/blue_empty_x.png');
}
table.oedipus a.si-tile#blue0q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/blue_empty_question.png');
}
table.oedipus a.si-tile#blue0
{
	background-image: url('/images/position-tiles/40px-png/diamonds/blue_empty.png');
}
/* RED SI */
table.oedipus a.si-tile#red1x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/red_filled_x.png');
}
table.oedipus a.si-tile#red1q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/red_filled_question.png');
}
table.oedipus a.si-tile#red1
{
	background-image: url('/images/position-tiles/40px-png/diamonds/red_filled.png');
}
table.oedipus a.si-tile#red0x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/red_empty_x.png');
}
table.oedipus a.si-tile#red0q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/red_empty_question.png');
}
table.oedipus a.si-tile#red0
{
	background-image: url('/images/position-tiles/40px-png/diamonds/red_empty.png');
}
/* green SI */
table.oedipus a.si-tile#green1x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/green_filled_x.png');
}
table.oedipus a.si-tile#green1q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/green_filled_question.png');
}
table.oedipus a.si-tile#green1
{
	background-image: url('/images/position-tiles/40px-png/diamonds/green_filled.png');
}
table.oedipus a.si-tile#green0x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/green_empty_x.png');
}
table.oedipus a.si-tile#green0q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/green_empty_question.png');
}
table.oedipus a.si-tile#green0
{
	background-image: url('/images/position-tiles/40px-png/diamonds/green_empty.png');
}
/* orange SI */
table.oedipus a.si-tile#orange1x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/orange_filled_x.png');
}
table.oedipus a.si-tile#orange1q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/orange_filled_question.png');
}
table.oedipus a.si-tile#orange1
{
	background-image: url('/images/position-tiles/40px-png/diamonds/orange_filled.png');
}
table.oedipus a.si-tile#orange0x
{
	background-image: url('/images/position-tiles/40px-png/diamonds/orange_empty_x.png');
}
table.oedipus a.si-tile#orange0q
{
	background-image: url('/images/position-tiles/40px-png/diamonds/orange_empty_question.png');
}
table.oedipus a.si-tile#orange0
{
	background-image: url('/images/position-tiles/40px-png/diamonds/orange_empty.png');
}
