/* Styles for the Oedipus Drama Theory Table
 * Saul Howard 2008, CLWD
 */

table.oedipus
{
/*        margin: 50px;*/
}

/* COLUMNS FOR ACTORS, STATED INTENTIONS */
table.oedipus colgroup.options-column
{
	background: grey;
}
table.oedipus colgroup.actor-column
{
/*        background: cyan;*/
}
#actor1.actor-column
{
	background: cyan;
}

/* ICONS FOR POSITION CARDS */
table.oedipus a.position-card
{
	height: 50px;
	width: 50px;
	background: transparent url('blue_filled_x.png') center center no-repeat;
	display: block;
	text-indent: -3000px;
	margin: 0 auto;
}
